.blog {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.7;
    margin-bottom: 2rem;
  }
  p > img {
    max-width: 100%;
    height: auto;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 5px;
    padding: 1em 30px;
  }

  blockquote p {
    margin: 0.5rem 0;
    font-style: italic;
  }
}
