.blog {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.7;
    margin-bottom: 1.75rem;
  }
 p.img {
    max-width: 100%;
    height: auto;
  }
	ul, ol{
		margin-bottom: 1.75rem;
	}
	blockquote {							
		padding: 0.5rem 0.5rem;
		font-style: italic;
		color: red;
	}	

}
